.signContainer{
    margin-left: 20%;
    margin-right: 20%;
}

.signContainer input{
    width: 90%;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 1.2em;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
  }
  .signContainer label{
    font-size: 1em;
  }